#!/bin/sh

# Ensure Homebrew env is set
eval "$({{ template "homebrew-prefix" . }}/bin/brew shellenv)"

printf '\nUpdate fisher plugins\n\n'

if ! fish -c 'type -q fisher'; then
  fish -c 'curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher'
fi

# private_dot_config/fish/fish_plugins hash: {{ include "private_dot_config/fish/fish_plugins" | sha256sum }}
fish -c 'fisher update'
