#!/bin/sh

printf '\n\360\237\224\274 \060\357\270\217\342\203\243\040 Install Homebrew'

if ! which brew >/dev/null; then
  printf '\n\n'

  # Install Homebrew
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  printf ' \342\234\205\n'
fi
