[commit]
	gpgsign = true
[core]
	excludesfile = ~/.config/git/ignore
	pager = delta
[delta]
	navigate = true
	light = false
[diff]
	colorMoved = default
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[pull]
	rebase = true
[push]
	default = current
[rebase]
	autoStash = true
	autoSquash = true
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
	signingkey = "~/.ssh/id_ed25519.pub"
